@use "../../../../../assets/styles/dashboard-theme.scss" as *;

.heroesTitle {
  text-align: center;
}

.heroesMenu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;

  a {
    background-color: $color-brand-alt;
    border-radius: $radius-sm;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: $color-white;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: 0.5rem auto;
    box-sizing: border-box;

    &:hover {
      background-color: $color-black;
    }
  }
}

@media (min-width: 600px) {
  .heroesMenu {
    a {
      width: 18%;
      box-sizing: border-box;
    }
  }
}
