@use "../../../../../assets/styles/dashboard-theme.scss" as *;

.messages {
  margin-top: 1.5rem;
  padding-top: 0.75rem;

  h2 {
    margin-bottom: 0.5rem;
    color: $color-danger;
    font-weight: lighter;
  }

  .clear {
    margin-top: 0;

    &:hover {
      color: $color-white;
      background-color: $color-brand-dark;
    }
  }
}
