<h2>My Heroes</h2>
<div>
<label for="newHero">Hero name: </label>
<input id="newHero" #heroName/>
<button type="button" class="addButton" (click)="add(heroName.value); heroName.value =' '">
  Add hero
</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a [routerLink]="['/detail', hero.id]" (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </a>
    <button type="button" class="delete" title="delete hero" (click)="delete(hero)">
      x
    </button>
  </li>
</ul>